.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.lod-card .content__second .read-more {
  align-self: flex-start;
}
.lod-card__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.lod-card__description #previous,
.lod-card__description #next {
  cursor: pointer;
}
.lod-card__description p {
  margin: 0;
}
.lod-card__description a {
  align-self: flex-start;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  border-bottom-width: 1px;
  margin-left: 21px;
  cursor: pointer;
}
.lod-card__description a:before {
  content: url("./assets/location.svg");
  width: 16px;
  height: 16px;
  margin-left: 0;
  border-bottom: 0;
  position: absolute;
  vertical-align: -50%;
  left: -21px;
  padding-top: 1px;
}
.lod-card__description time {
  align-self: flex-start;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  border-bottom-width: 1px;
  margin-left: 21px;
  cursor: pointer;
}
.lod-card__description time:before {
  content: url("./assets/clock.svg");
  width: 16px;
  height: 16px;
  margin-left: 0;
  border-bottom: 0;
  position: absolute;
  vertical-align: -50%;
  left: 0;
  padding-top: 3px;
}