.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.lod-table td {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.lod-table dd {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.lod-table .pager__items {
  justify-content: center !important;
}
.lod-table .results-text {
  margin-bottom: 20px;
}
.lod-table .cta-btn {
  align-self: flex-start;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;
  margin-bottom: 60px;
}
.lod-table .cta-btn:before {
  content: url("./assets/share-icon.svg");
  width: 24px;
  height: 24px;
  margin-left: 0;
  border-bottom: 0;
  position: absolute;
  vertical-align: -50%;
  left: -30px;
  padding-top: 1px;
}
.lod-table .filter__results {
  margin-left: 0;
}
.lod-table #previous,
.lod-table #next {
  cursor: pointer;
  display: block;
}